<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01_object.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>02_config.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>03_animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>04_viewport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>05_custobj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>06_hud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>07_spawner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>08_font.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>09_sound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>10_ui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>11_physics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>box2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>x2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>x2d_ui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2401F124158A79AA00BC2425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>240F052614E41E30002AEEB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2415839D14D0AEDF0014F37B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>241583BC14D0B27E0014F37B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>241583D414D0B3940014F37B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2436588D156AD22600D6AA9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>243F95CC14F0052200922D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>244DDD1C14DEFD8800F4E029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2451516D14DACA620029D699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2467285814D6E2E2003AAA04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2467287114D6E4D7003AAA04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2467294914D9EA5B003AAA04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2487CA6214E18137006A7E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2487CAD214E290B0006A7E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2487CB6814E6F7BC006A7E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24BDCC1C14CC6300006F36A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24BDCC7814CCF8B7006F36A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24C7483314F654C6004E07DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24C7487014F65E1F004E07DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24DDAD2015A9DC500064EFC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
